@model IEnumerable<MVC.Entidades.FacturaDetalle>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Detalle de Productos</strong> <p>

    @Html.ActionLink("Agregar", "Create", "FacturaDetalles",
                        new { facturaId = ViewBag.FacturaId },
                        new { @class = "btn btn-primary btn-rounded", data_modal = "facturaDeta" })
</p>
    </div>

    <table class="table table-hover table-striped table-condensed small">
        <tr>
            <th>


                @*<th>
                @Html.DisplayNameFor(model => model.Facturas.FacturaId)
            </th>*@
                @*<th>
                @Html.DisplayNameFor(model => model.OrdenEntradas.EquipoId)
            </th>*@
            <th>
                @*@Html.Display("Acciones")*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", "FacturaDetalles",
                        new { id = item.FacturaDetalleId },
                        new { @class = "btn btn-primary btn-rounded", data_modal = "facturaDeta" })                    
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", "FacturaDetalles",
                        new { id = item.FacturaDetalleId },
                        new { @class = "btn btn-primary btn-rounded", data_modal = "facturaDeta" })
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Facturas.FacturaId)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.OrdenEntradas.NumeroSerie)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>