@model IEnumerable<MVC.Models.ApplicationRole>

@{
	ViewBag.Title = "INDICE - ROLES";
}

<p>
	@Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-default" })
</p>

<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">

				<h5>@ViewBag.Title</h5>

				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-wrench"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li>
							<a href="#">Config option 1</a>
						</li>
						<li>
							<a href="#">Config option 2</a>
						</li>
					</ul>
					<a class="close-link"><i class="fa fa-times"></i></a>
				</div>
			</div>

			<div class="ibox-content">
				<div class="table-responsive" style="overflow-x: scroll">
					<table class="table table-hover table-striped table-condensed small">
						<thead>
							<tr>
								<th>
									Nombre del Rol
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
									<td>
										@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-rounded" })
										@Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-rounded" })
										@*@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })*@
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

