@model MVC.Entidades.OrdenEntrada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenEntrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipos.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipos.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTecnica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionTecnica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrdenEntradaId }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
