@model IEnumerable<MVC.Entidades.OrdenEntrada>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipos.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionTecnica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombre1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipos.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionTecnica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrdenEntradaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrdenEntradaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrdenEntradaId })
        </td>
    </tr>
}

</table>
